.author {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4px;
  padding: 8px 12px;
  max-width: 540px;
  background: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  display: inline;
}

.author button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #551eeb;
  background-color: #551eeb;
  color: white;
  border-radius: 10px;
  width: auto;
  margin-left: 100px;
  display: inline;
}

.author-title {
  font: inherit;
  padding: 1rem 2rem;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  width: auto;
  margin-left: 160px;
}

.author__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.author__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.author__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.author__actions {
  text-align: right;
}
